.business-section-wrapper {
    height: 231px;

    position: relative;

    background-image: url(./../images/business_282.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.business-section-inner-wrapper {
    height: 100%;

    background-color: var(--accent-light-color);

    opacity: .6;
    clip-path: polygon(0 0, 53% 0, 96% 100%, 0% 100%);
}

.business-section-wrapper,
.business-section-inner-wrapper {
    border-radius: 4px;
}

.business-text-container {
    max-width: 82%;
    padding: 1rem;
    border-radius: 7px;

    position: absolute;
    left: 2rem;
    bottom: 1.5rem;

    background-color: var(--primary-color);
}

.business-heading {
    margin-bottom: 1rem;

    color: var(--accent-light-color);

    font-family: 'Trajan Pro 3', serif;
    font-size: 1.4rem;

    text-transform: uppercase;

    line-height: 1.2em;
}

.business-text {
    line-height: 1.3em;
}

.business-text,
.business-button {
    font-size: .8rem;
}

.business-button-container {
    text-align: center;
}

.business-button {
    display: inline-block;
    margin-top: .6rem;
}

@media screen and (min-width: 768px) {
    .business-section-wrapper {
        height: 165px;
        margin-top: 44px;
        margin-bottom: 18px;

        background-image: url(./../images/business_710.png);
    }

    .business-text-container {
        max-width: 38%;
    }

    .business-section-inner-wrapper {
        clip-path: polygon(0 0, 25% 0, 75% 100%, 0% 100%);
    }
}

@media screen and (min-width: 1024px) {
    .business-section-wrapper {
        height: 190px;
        margin-top: 26px;

        background-image: url(./../images/business_965.png);
    }

    .business-text-container {
        max-width: 35%;
        bottom: .9rem;
    }
}

@media screen and (min-width: 1336px) {
    .business-section-wrapper {
        height: 200px;
        margin-top: 14px;
        margin-bottom: 7px;

        background-image: url(./../images/business_1170.png);
    }

    .business-text-container {
        max-width: 26.4%;

        bottom: 1.5rem;
    }

    .business-heading {
        font-size: 1.1rem;

        line-height: 1.2em;
    }

    .business-text,
    .business-button {
        font-size: .7rem;

        line-height: 1.2em;
    }
}

@media screen and (min-width: 1920px) {
    .business-section-wrapper {
        height: 284px;
        margin-top: 47px;
        margin-bottom: 8px;

        background-image: url(./../images/business_1663.png);
    }

    .business-text-container {
        max-width: 26%;
    }

    .business-heading {
        font-size: 1.2rem;
    }

    .business-text,
    .business-button {
        font-size: .8rem;

        line-height: 1.3em;
    }
}