.footer {
    color: var(--primary-color);
    background-color: #243246;
}

.footer-rights {
    padding-top: 0;

    color: #959AA6;
}

.footer-social-networks-image {
    width: 22px;
    height: 22px;
}

.footer-list {
    font-size: 1.1rem;
    font-weight: 700;

    text-transform: uppercase;

    line-height: 1.4rem;
}

.footer-list-item {
    padding-left: 0;
    padding-right: 0;
}

.footer-list-item-link {
    padding: 1rem 0;
}

.footer-list-item-link,
.footer-phone,
.footer-email {
    font-size: 1rem;
}

.footer-contacts {
    margin-left: 1rem;

    color: #959AA6;

    font-weight: 200;
    font-style: italic;
}

.footer-phone {
    padding-bottom: 1rem;
}

.footer-email {
    line-height: 1.2em;
}

.footer-phone,
.footer-email {
    position: relative;
}

.footer-phone::before,
.footer-email::before {
    content: '';

    position: absolute;

    top: 3px;
    left: -2rem;

    background-repeat: no-repeat;
    background-size: cover;
}

.footer-phone::before {
    width: 12px;
    height: 12px;

    background-image: url(./../icons/footer-phone.svg);
}

.footer-email::before {
    width: 13px;
    height: 9px;

    background-image: url(./../icons/email-footer.svg);
}

.footer-phone-numbers {
    color: var(--primary-color);
}

.footer-social-networks {
    margin-left: auto;
}

.footer-social-networks-image {
    margin-left: .7rem;

    width: 22px;
    height: 22px;
}

.footer-rights,
.footer-adress {
    margin: auto;

    font-weight: 500;
    font-size: .8rem;
}

.footer-rights,
.footer-adress,
.footer-list-item-link,
.footer-phone {
    line-height: 1.3em;
}

@media screen and (min-width: 768px) {
    .footer-rights {
        font-size: 1.2rem;
    }

    .footer-social-networks {
        margin-top: 28px;
    }

    .footer-social-networks-image {
        margin-left: 0;
        margin-right: 11px;
    }

    .footer-list {
        padding: 0;
    }

    .footer-phone,
    .footer-email {
        text-align: left;

        padding-left: 4rem;
    }

    .footer-phone::before,
    .footer-email::before {
        left: 2.5rem;
    }
}

@media screen and (min-width: 1024px) {

    .footer-rights,
    .footer-list-item-link,
    .footer-phone {
        font-size: .9rem;
    }

    .footer-social-networks-image {
        margin-right: 13px;
    }

    .footer-email {
        font-size: .8rem;
    }

    .footer-adress {
        font-size: .7rem;
    }
}

@media screen and (min-width: 1336px) {

    .footer-rights,
    .footer-list-item-link,
    .footer-phone {
        font-size: 1rem;
    }

    .footer-social-networks {
        margin-top: 34px;
    }

    .footer-social-networks-image {
        width: 27px;
        height: 27px;
        margin-right: 17px;
    }

    .footer-phone::before {
        width: 15px;
        height: 15px;
    }

    .footer-email::before {
        width: 16px;
        height: 11px;
    }
}

@media screen and (min-width: 1920px) {
    .footer-rights {
        font-size: 1.2rem;
    }

    .footer-social-networks {
        margin-top: 49px;
    }

    .footer-social-networks-image {
        width: 39px;
        height: 39px;
        margin-right: 18px;
    }

    .footer-list-item-link,
    .footer-phone {
        font-size: 1.1rem;

        line-height: 1.4em;
    }

    .footer-email {
        font-size: 1rem;

        line-height: 1.3em;
    }

    .footer-phone,
    .footer-email {
        padding-left: 5rem;
    }

    .footer-adress {
        font-size: .9rem;
    }

    .footer-phone::before {
        width: 21px;
        height: 21px;

        top: 11px;
    }

    .footer-email::before {
        width: 23px;
        height: 16px;

        top: 8px;
    }
}